<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New User</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="addNewUser.css" />
  </head>
  <body>
    <div class="add-new-user">
      <div class="group-1">
        <div class="rectangle-7">
        </div>
        <div class="rectangle-8">
        </div>
        <div class="rectangle-1">
        </div>
        <div class="container-27">
          <div class="container-28">
            <div class="users">
            Users
            </div>
            <div class="rectangle-6">
            </div>
          </div>
          <div class="container-22">
            <div class="container-2">
              <div class="zondiconslist">
                <img class="vector-9" src="../assets/vectors/vector13_x2.svg" />
              </div>
              <span class="add-list">
              Add list
              </span>
            </div>
            <div class="container-13">
              <img class="group" src="../assets/vectors/group_x2.svg" />
              <div class="add-new-users">
              Add new users
              </div>
            </div>
          </div>
        </div>
        <div class="container-6">
          <div class="users-name">
          User’s name
          </div>
          <div class="container-14">
            <div class="off-1">
            Off
            </div>
            <div class="container-29">
              <div class="ellipse-1">
              </div>
            </div>
            <div class="on-1">
            On
            </div>
          </div>
          <span class="emailemail-com">
          email@email.com
          </span>
          <span class="instagram-user-name">
          instagram_user_name 
          </span>
          <span class="instagram-password-1">
          instagram_Password
          </span>
        </div>
        <div class="container-11">
          <div class="users-name-1">
          User’s name
          </div>
          <div class="container-15">
            <div class="off-2">
            Off
            </div>
            <div class="container-12">
              <div class="ellipse-21">
              </div>
            </div>
            <div class="on-2">
            On
            </div>
          </div>
          <span class="emailemail-com-1">
          email@email.com
          </span>
          <span class="instagram-user-name-1">
          instagram_user_name 
          </span>
          <span class="instagram-password">
          instagram_Password
          </span>
        </div>
        <div class="container-5">
          <img class="vector-4" src="../assets/vectors/vector21_x2.svg" />
          <span class="edit-user-info">
          Edit user info
          </span>
        </div>
        <div class="container-21">
          <img class="vector-2" src="../assets/vectors/vector6_x2.svg" />
          <div class="delete-user">
          Delete user
          </div>
        </div>
        <div class="container-23">
          <img class="vector-5" src="../assets/vectors/vector5_x2.svg" />
          <div class="edit-user-info-1">
          Edit user info
          </div>
        </div>
        <div class="container-1">
          <img class="vector-3" src="../assets/vectors/vector14_x2.svg" />
          <div class="delete-user-1">
          Delete user
          </div>
        </div>
      </div>
      <div class="container-24">
        <div class="container-7">
          <div class="add-new-user-job-1">
          Add new user_JOB
          </div>
          <div class="icround-close">
            <img class="vector-10" src="../assets/vectors/vector17_x2.svg" />
          </div>
        </div>
        <div class="rectangle-5">
        </div>
        <div class="container-31">
          <span class="user-name">
          User Name
          </span>
          <span class="email">
          Email
          </span>
        </div>
        <div class="container-4">
          <div class="rectangle-2">
          </div>
          <div class="rectangle-171">
          </div>
        </div>
        <div class="container-26">
          <span class="password">
          Password
          </span>
          <span class="keywords">
          Keywords
          </span>
        </div>
        <div class="container-32">
          <div class="rectangle-18">
          </div>
          <div class="container-19">
            <span class="keyword-1-keyword-2-keyword-3">
            keyword1, keyword2, keyword3
            </span>
          </div>
        </div>
        <div class="container">
          <span class="random-click-ads">
          Random Click Ads
          </span>
          <span class="if-not-random-enter-string-to-be-included-in-domains-to-be-clicked">
          If not Random, enter String to be included in Domain(s) to be Clicked
          </span>
        </div>
        <div class="container-9">
          <div class="container-17">
            <div class="off">
            Off
            </div>
            <div class="container-3">
              <div class="ellipse-2">
              </div>
            </div>
            <div class="on">
            On
            </div>
          </div>
          <div class="container-20">
            <span class="example-com-example-2-com-example-3-com">
            example.com, example2.com, example3.com
            </span>
          </div>
        </div>
        <div class="enter-number-of-runs">
        Enter Number of Runs
        </div>
        <div class="container-18">
          <span class="container">
          25
          </span>
        </div>
        <div class="enter-times-to-be-executed-or-leave-empty-for-random">
        Enter Times to be Executed or leave empty for Random
        </div>
        <div class="container-10">
          <div class="container-16">
            <span class="am">
            10:00 AM
            </span>
          </div>
          <div class="container-30">
            <span class="am-1">
            10:00 AM
            </span>
          </div>
          <div class="container-25">
            <span class="am-2">
            10:00 AM
            </span>
          </div>
        </div>
        <div class="container-8">
          <span class="add-new-user-job">
          Add new USER_JOB
          </span>
        </div>
      </div>
      <span class="logout">
      Logout
      </span>
      <img class="solarlogout-2-outline" src="../assets/vectors/solarlogout2Outline1_x2.svg" />
    </div>
  </body>
</html>