<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log View</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="logView.css" />
  </head>
  <body>
    <div class="log-view">
      <div class="group-1">
        <div class="rectangle-7">
        </div>
        <div class="rectangle-8">
        </div>
        <div class="rectangle-1">
        </div>
        <div class="container-3">
          <div class="container-5">
            <div class="users">
            Users
            </div>
            <div class="rectangle-6">
            </div>
          </div>
          <div class="container-2">
            <div class="container-4">
              <div class="zondiconslist">
                <img class="vector-9" src="../assets/vectors/vector18_x2.svg" />
              </div>
              <span class="add-list">
              Add list
              </span>
            </div>
            <div class="container-15">
              <img class="group" src="../assets/vectors/group2_x2.svg" />
              <div class="add-new-users">
              Add new users
              </div>
            </div>
          </div>
        </div>
        <div class="container-17">
          <div class="users-name">
          User’s name
          </div>
          <div class="container-14">
            <div class="off">
            Off
            </div>
            <div class="container-11">
              <div class="ellipse-1">
              </div>
            </div>
            <div class="on">
            On
            </div>
          </div>
          <span class="emailemail-com">
          email@email.com
          </span>
          <span class="instagram-user-name">
          instagram_user_name 
          </span>
          <span class="instagram-password">
          instagram_Password
          </span>
        </div>
        <div class="container-12">
          <div class="users-name-1">
          User’s name
          </div>
          <div class="container-16">
            <div class="off-1">
            Off
            </div>
            <div class="container-18">
              <div class="ellipse-2">
              </div>
            </div>
            <div class="on-1">
            On
            </div>
          </div>
          <span class="emailemail-com-1">
          email@email.com
          </span>
          <span class="instagram-user-name-1">
          instagram_user_name 
          </span>
          <span class="instagram-password-1">
          instagram_Password
          </span>
        </div>
        <div class="container-7">
          <img class="vector-4" src="../assets/vectors/vector1_x2.svg" />
          <span class="edit-user-info">
          Edit user info
          </span>
        </div>
        <div class="container-13">
          <img class="vector-2" src="../assets/vectors/vector11_x2.svg" />
          <div class="delete-user">
          Delete user
          </div>
        </div>
        <div class="container-9">
          <img class="vector-5" src="../assets/vectors/vector16_x2.svg" />
          <div class="edit-user-info-1">
          Edit user info
          </div>
        </div>
        <div class="container-8">
          <img class="vector-3" src="../assets/vectors/vector2_x2.svg" />
          <div class="delete-user-1">
          Delete user
          </div>
        </div>
      </div>
      <div class="container">
        <div class="container-10">
          <div class="log">
          Log
          </div>
          <div class="icround-close">
            <img class="vector-10" src="../assets/vectors/vector8_x2.svg" />
          </div>
        </div>
        <div class="rectangle-5">
        </div>
        <div class="container-6">
          <div class="show-number-of-total-ads-clicks-show-domain-name-which-was-clicked-deleted-refereshed-every-24-hours">
          Show Number of Total Ads Clicks, Show Domain Name which was Clicked. Deleted/Refereshed every 24 hours. 
          </div>
          <div class="container-1">
            <div class="rectangle-23">
            </div>
          </div>
        </div>
      </div>
      <span class="logout">
      Logout
      </span>
      <img class="solarlogout-2-outline" src="../assets/vectors/solarlogout2Outline3_x2.svg" />
    </div>
  </body>
</html>