.delete-user .rectangle-7 {
  opacity: 0.2;
  background: #18B3E4;
  position: absolute;
  left: 68px;
  bottom: 69px;
  width: 1019px;
  height: 65px;
}
.delete-user .rectangle-8 {
  opacity: 0.2;
  background: #557AFF;
  position: absolute;
  left: 68px;
  bottom: 0px;
  width: 1019px;
  height: 65px;
}
.delete-user .rectangle-1 {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 18px 18px;
  background: #FFFFFF;
  margin-bottom: 29px;
  width: 1280px;
  height: 102px;
}
.delete-user .users {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(60, 60, 60, 0.235);
}
.delete-user .rectangle-6 {
  border-radius: 4px;
  background: var(--gre, linear-gradient(90deg, #18B3E4, #557AFF));
  width: 90px;
  height: 6px;
}
.delete-user .container-19 {
  margin: 5px 0 6px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.delete-user .vector-9 {
  width: 18px;
  height: 12px;
}
.delete-user .zondiconslist {
  margin: 2px 8px 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18px;
  height: 12px;
  box-sizing: border-box;
}
.delete-user .add-list {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.delete-user .container-17 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: linear-gradient(90deg, #18B3E4, #557AFF);
  position: relative;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  padding: 12px 0 13px 0;
  width: 180px;
  box-sizing: border-box;
}
.delete-user .group {
  margin-right: 15px;
  width: 16px;
  height: 16px;
}
.delete-user .add-new-users {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.delete-user .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: linear-gradient(90deg, #18B3E4, #557AFF);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  width: 180px;
  box-sizing: border-box;
}
.delete-user .container-5 {
  display: flex;
  flex-direction: row;
  width: 375px;
  box-sizing: border-box;
}
.delete-user .container-18 {
  margin: 0 68px 40px 67px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1145px;
  box-sizing: border-box;
}
.delete-user .users-name {
  position: relative;
  margin: 6px 7.5px 7px 0;
  display: inline-block;
  width: 997.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .off {
  margin: 6px 8.2px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .ellipse-1 {
  border-radius: 13px;
  background: var(--gre, linear-gradient(90deg, #18B3E4, #557AFF));
  width: 26px;
  height: 26px;
}
.delete-user .container-14 {
  border-radius: 14px;
  background: #FFFFFF content-box, linear-gradient(90deg, #18B3E4, #557AFF) border-box;
  border: 1px solid transparent;
  position: relative;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1px;
  width: 56px;
  height: 28px;
  box-sizing: border-box;
}
.delete-user .on {
  margin: 6px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-13 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.delete-user .emailemail-com {
  position: absolute;
  left: 133px;
  top: 6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .instagram-user-name {
  position: absolute;
  left: 296px;
  top: 6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .instagram-password {
  position: absolute;
  left: 484px;
  top: 6px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-16 {
  position: relative;
  margin: 0 74.8px 42px 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1111.2px;
  box-sizing: border-box;
}
.delete-user .users-name-1 {
  position: relative;
  margin: 5px 7.5px 8px 0;
  display: inline-block;
  width: 997.5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .off-1 {
  margin: 6px 8.2px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .ellipse-2 {
  border-radius: 13px;
  background: #C7C7C7;
  width: 26px;
  height: 26px;
}
.delete-user .container-10 {
  border-radius: 14px;
  border: 1px solid #C7C7C7;
  background: #FFFFFF;
  position: relative;
  margin-right: 8px;
  padding: 1px;
  width: 56px;
  height: 28px;
  box-sizing: border-box;
}
.delete-user .on-1 {
  margin: 6px 0 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-11 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.delete-user .emailemail-com-1 {
  position: absolute;
  left: 133px;
  top: 5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .instagram-user-name-1 {
  position: absolute;
  left: 296px;
  top: 5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .instagram-password-1 {
  position: absolute;
  left: 484px;
  top: 5px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-9 {
  position: relative;
  margin: 0 74.8px 0 94px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1111.2px;
  box-sizing: border-box;
}
.delete-user .vector-4 {
  margin-right: 8px;
  width: 16px;
  height: 15px;
}
.delete-user .edit-user-info {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-6 {
  border-radius: 28px;
  background: #FFFFFF content-box, linear-gradient(90deg, #18B3E4, #557AFF) border-box;
  border: 1px solid transparent;
  position: absolute;
  right: 361px;
  bottom: 83px;
  display: flex;
  flex-direction: row;
  padding: 11px 0 11px 19px;
  width: 142px;
  box-sizing: border-box;
}
.delete-user .vector-2 {
  margin-right: 8px;
  width: 15px;
  height: 17px;
}
.delete-user .delete-user-1 {
  margin: 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-4 {
  border-radius: 28px;
  background: #FFFFFF content-box, linear-gradient(90deg, #18B3E4, #557AFF) border-box;
  border: 1px solid transparent;
  position: absolute;
  right: 211px;
  bottom: 83px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  width: 142px;
  box-sizing: border-box;
}
.delete-user .vector-5 {
  margin: 0 8px 1px 0;
  width: 16px;
  height: 15px;
}
.delete-user .edit-user-info-1 {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-8 {
  border-radius: 28px;
  background: #FFFFFF content-box, linear-gradient(90deg, #18B3E4, #557AFF) border-box;
  border: 1px solid transparent;
  position: absolute;
  right: 361px;
  bottom: 13px;
  display: flex;
  flex-direction: row;
  padding: 10px 0 11px 19px;
  width: 142px;
  box-sizing: border-box;
}
.delete-user .vector-3 {
  margin-right: 8px;
  width: 15px;
  height: 17px;
}
.delete-user .delete-user-2 {
  margin-top: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-12 {
  border-radius: 28px;
  background: #FFFFFF content-box, linear-gradient(90deg, #18B3E4, #557AFF) border-box;
  border: 1px solid transparent;
  position: absolute;
  right: 211px;
  bottom: 13px;
  display: flex;
  flex-direction: row;
  padding: 9px 0 11px 0;
  width: 142px;
  box-sizing: border-box;
}
.delete-user .group-1 {
  opacity: 0.5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 17px;
  width: 1280px;
  height: fit-content;
  box-sizing: border-box;
}
.delete-user .delete-user-job {
  margin: 15.2px 9.5px 0 0;
  display: inline-block;
  width: 212.2px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #3C3C3C;
}
.delete-user .vector-10 {
  width: 16.5px;
  height: 16.5px;
}
.delete-user .icround-close {
  margin-bottom: 17.8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 16.5px;
  height: 16.5px;
  box-sizing: border-box;
}
.delete-user .container-3 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 238.1px;
  box-sizing: border-box;
}
.delete-user .rectangle-5 {
  border-radius: 4px;
  background: linear-gradient(90deg, #18B3E4, #557AFF);
  margin: 0 18.2px 34px 0;
  align-self: center;
  width: 90px;
  height: 6px;
}
.delete-user .are-you-sure-you-want-to-deletegmailgmail {
  margin: 0 10.2px 52px 10.2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .cancel {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .container-7 {
  border-radius: 8px;
  border: 1px solid #18B3E4;
  position: relative;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 0 16px 0;
  width: 135px;
  box-sizing: border-box;
}
.delete-user .delete {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  color: #FFFFFF;
}
.delete-user .container-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: linear-gradient(90deg, #18B3E4, #557AFF);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17px 0 16px 0;
  width: 135px;
  box-sizing: border-box;
}
.delete-user .container-1 {
  margin-right: 17.2px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 295px;
  box-sizing: border-box;
}
.delete-user .container {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 191px;
  translate: -50% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20.8px 20.8px 0 0;
  width: 372px;
  height: 255px;
  box-sizing: border-box;
}
.delete-user .logout {
  opacity: 0.5;
  position: absolute;
  top: 46px;
  right: 68.3px;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #3C3C3C;
}
.delete-user .solarlogout-2-outline {
  opacity: 0.5;
  position: absolute;
  top: 42px;
  right: 118px;
  width: 24px;
  height: 24px;
}
.delete-user {
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1280px;
  box-sizing: border-box;
}
